* {
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  background: #1a1c20;
  opacity: 1;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}
.vip-text {
  width: 36px;
  color: #e49f24;
  font: normal normal 600 31px/45px "Barlow Condensed";
}

.cam-girls-text {
  width: 100px;
  font: normal normal normal 31px/45px "Barlow Condensed";
  color: #cccccc;
}

.login,
.signup {
  padding: 10px;
  width: 140px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #e49f24;
  border: none;
  color: black;
  margin: 4px 2px;
  transition-duration: 0.3s;
  font: normal normal bold 12px/13px "Quattrocento Sans";
  letter-spacing: 2.4px;
}

.login {
  background-color: transparent;
  color: #e49f24;
  border: 1px solid #e49f24;
  opacity: 1;
}

.login:hover {
  background-color: #e49f24;
  color: black;
  box-shadow: 3px 3px #e49f24;
}
.signup:hover {
  background-color: transparent;
  color: #e49f24;
  border: 1px solid #e49f24;
  box-shadow: 4px 4px #e49f24;
  transition: 0.3s;
}

.signup {
  background-color: #e49f24;
  color: black;
  border: 2px solid #e49f24;
  transition: 0.3s;
}

/* section1 styles */

.column {
  float: left;
  padding: 20px;
}
.column.left {
  width: 55%;
}
.left {
  margin-top: 180px;
}

.column.right {
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.welcome-text {
  top: 270px;
  font: normal normal normal 18px/20px "Quattrocento Sans";
  letter-spacing: 1.8px;
  text-align: left;
  margin-left: 60px;
  color: #d6d6d6;
  text-transform: uppercase;
  opacity: 0.5;
}
.teacher-text span {
  font-size: 100px;
  font-weight: bold;
  color: gainsboro;
  background-repeat: repeat;
  margin-left: 8px;
  background: url("assets/image8.png");
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}

.portal {
  font: normal normal 900 146px/120px Barlow;
  color: #f0a500;
  text-transform: uppercase;
  margin-left: 80px;
  text-align: left;
}

.container {
  position: relative;
  float: left;
  width: 264px;
}

.col-img {
  position: absolute;
}

.banner-div {
  width: 248px;
  padding: 12px 10px;
  text-align: center;
  color: black;
  border: none;
  opacity: 0;
  padding-bottom: 0;
}
.container:hover .banner-div {
  opacity: 1;
  background-color: transparent;
}

.exclusive {
  top: 10px;
  left: 16px;
  width: 80px;
  height: 20px;
  background: #ff7b00 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 0 5px;
  position: absolute;
}
h5 {
  margin: 2px;
  width: 58px;
  height: 20px;
  font-family: "Teko";
  font-size: 14px;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 1.4px;
  color: #181310;
  text-transform: uppercase;
  opacity: 1;
  background: transparent;
}
.tokens-subheader {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 170px;
  background: transparent;
}

/* image carousel styles*/

.online-teacher {
  font: normal normal bold 36px/100px Barlow Condensed;
  letter-spacing: 3.6px;
  color: #f0a500;
  text-transform: uppercase;
  opacity: 1;
}

.image-carousel {
  overflow-x: auto;
  white-space: nowrap;
}
.image-carousel::-webkit-scrollbar {
  width: 0;
}
.image-carousel,
.gallery img {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.gallery {
  text-align: center;
  position: relative;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #13e052;
  border-radius: 50%;
  display: inline-block;
}

.bg-dot-online {
  background: #181310 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 0.8;
  display: inline;
}

.online {
  position: absolute;
  top: 0px;
  left: 16px;
  font: normal normal normal 12px/54px Quattrocento Sans;
  color: #13e052;
  text-transform: uppercase;
  opacity: 1;
  background: transparent;
}
.btn-private {
  font: normal normal bold 14px/16px Quattrocento Sans;
  letter-spacing: 1.4px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #f0a500;
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  width: 244px;
}

.teacher-name {
  color: white;
  background: transparent;
  font: normal normal bold 16px/117px Quattrocento Sans;
  letter-spacing: 0.8px;
}
.teacher-token {
  color: #f0a500;
  background: transparent;
  font: normal normal bold 16px/117px Quattrocento Sans;
  letter-spacing: 0.8px;
}

.gallery img {
  transition: transform 0.2s ease;
}

.gallery img:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.tokens {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -115px;
  background: transparent;
}

/* gallery images styles */

.column-img {
  height: 300px;
  width: 260px;
}

.featured-text {
  font: normal normal bold 36px/40px Barlow Condensed;
  letter-spacing: 3.6px;
  color: #f0a500;
  text-transform: uppercase;
  opacity: 1;
}
.column {
  text-align: center;
  position: relative;
}

.column img {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
div.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
}

.online-featured {
  left: 34px;
  font: normal normal normal 12px/80px Quattrocento Sans;
}

.pvt-btn {
  margin-top: -156px;
}

.column img {
  transition: transform 0.2s ease;
}

.column img:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.show-more {
  display: flex;
  justify-content: center;
}
.show-btn {
  width: 140px;
  height: 40px;
  background-color: transparent;
  color: #f0a500;
  border: 1px solid #f0a500;
  opacity: 1;
  text-transform: uppercase;
  font: normal normal bold 12px/13px Quattrocento Sans;
  letter-spacing: 2.4px;
}

.show-btn:hover {
  background-color: #e49f24;
  color: black;
}

/* footer style */

.footer {
  text-align: center;
  font: normal normal normal 12px/14px Helvetica Neue;
  letter-spacing: 1.2px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}

section {
  margin: 80px;
}

@media screen and (max-width: 600px) {
  .column.side,
  .column.right {
    width: 100%;
  }

  .left {
    margin-top: 50px;
  }

  .portal {
    font: normal normal 900 50px/50px Barlow;
    color: #f0a500;
    text-transform: uppercase;
    margin-left: 40px;
    text-align: left;
  }
  .teacher-text span {
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    background-repeat: repeat;
    margin-left: 8px;
    background: url("assets/image8.png");
    -webkit-background-clip: text;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
  }
  section{
    margin:10px
  }
}
