* {
  top: 0px;
  left: 0px;
  background: #1a1c20 0% 0% no-repeat padding-box;
  opacity: 1;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}
.vip-text {
  color: #e49f24;
  font: normal normal 600 31px/45px "Barlow", Condensed;
  letter-spacing: 0px;
}

.cam-girls-text {
  font: normal normal normal 31px/45px "Barlow", Condensed;
  color: #cccccc;
  letter-spacing: 0px;
}

.login,
.signup {
  padding: 10px;
  width: 140px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #e49f24;
  border: none;
  color: black;
  margin: 4px 2px;
  transition-duration: 0.3s;
  font: normal normal bold 12px/13px Quattrocento Sans;
  letter-spacing: 2.4px;
}

.login {
  background-color: transparent;
  color: #e49f24;
  border: 1px solid #e49f24;
  opacity: 1;
}

.login:hover {
  background-color: #e49f24;
  color: black;
  box-shadow: 3px 3px #e49f24;
}
.signup:hover {
  background-color: transparent;
  color: #e49f24;
  border: 1px solid #e49f24;
  box-shadow: 4px 4px #e49f24;
  transition: 0.3s;
}

.signup {
  background-color: #e49f24;
  color: black;
  border: 2px solid #e49f24;
  transition: 0.3s;
}

/* section1 styles */

.banner-section{
  margin:0 50px;
}

.banner {
  float: left;
}
.banner.left {
  width: 50%;
  overflow-wrap: break-word;
}
.left {
  padding-top: 210px;
}

.banner.right {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.welcome-text {
  font: normal normal normal 18px/0px Quattrocento Sans;
  letter-spacing: 1.8px;
  color: #d6d6d6;
  text-transform: uppercase;
  opacity: 0.5;
}
.teacher-text {
  font-size: 117px;
  font-weight: bold;
  color: gainsboro;
  background-repeat: no-repeat, repeat;
  margin-left: 8px;
  background: url("assets/image7.png");
  -webkit-background-clip: text;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
}

.portal {
  font: normal normal 900 146px/120px Barlow;
  letter-spacing: 14.6px;
  color: #f0a500;
  text-transform: uppercase;
}

.container {
  text-align: center;
  position: relative;
  max-width: 264px;
  margin: 10px;
  float: left;
}

.banner-btn {
  position: absolute;
  top:264px;
  transition: trasnform 0.3s ease;
  opacity: 0;
}
.container:hover .banner-btn {
  opacity: 1;
  background-color: transparent;
}

.exclusive {
  top: 0px;
  left: 16px;
  height: 20px;
  background: #ff7b00 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 0 5px;
  position: absolute;
}
h5 {
  margin: 2px;
  height: 20px;
  font-family: "Teko";
  font-size: 14px;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: 1.4px;
  color: #181310;
  text-transform: uppercase;
  opacity: 1;
  background: transparent;
}
/* .tokens-subheader {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  position: absolute;
  top: 170px;
  background: transparent;
} */

/* image carousel styles*/

.online-teacher {
  font: normal normal bold 36px/0px Barlow Condensed;
  letter-spacing: 3.6px;
  color: #f0a500;
  text-transform: uppercase;
  opacity: 1;
}

.image-carousel {
  overflow-x: auto;
  white-space: nowrap;
}
.image-carousel::-webkit-scrollbar {
  width: 0;
}
.image-carousel,
.gallery img {
  display: flex;
}

.gallery {
  text-align: center;
  position: relative;
  max-width: 264px;
  margin: 10px;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #13e052;
  border-radius: 50%;
  display: inline-block;
}

.bg-dot-online {
  background: #181310 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 0.8;
  display: inline;
}

.online {
  position: absolute;
  top: 0px;
  left: 16px;
  font: normal normal normal 12px/54px Quattrocento Sans;
  color: #13e052;
  text-transform: uppercase;
  opacity: 1;
  background: transparent;
}
.btn-private {
  font: normal normal bold 14px/16px Quattrocento Sans;
  letter-spacing: 1.4px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  background-color: #f0a500;
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  width: 264px;
}

/* .teacher-name {
  color: white;
  background: transparent;
  font: normal normal bold 16px/117px Quattrocento Sans;
  letter-spacing: 0.8px;
}
.teacher-token {
  color: #f0a500;
  background: transparent;
  font: normal normal bold 16px/117px Quattrocento Sans;
  letter-spacing: 0.8px;
} */

.gallery img {
  transition: transform 0.2s ease;
}

.gallery img:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
/* .tokens {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -115px;
  background: transparent;
} */

/* gallery images styles */

.featured-text {
  font: normal normal bold 36px/40px Barlow Condensed;
  letter-spacing: 3.6px;
  color: #f0a500;
  text-transform: uppercase;
  opacity: 1;
}

.column {
  text-align: center;
  position: relative;
  max-width: 264px;
  margin: 10px;
  float: left;
}

.column-img{
  width: 100%;
}

h3.name {
  position: absolute;
  top: 238px;
  left: 20px;
  color: white;
  background: transparent;
  font: normal normal bold 16px/20px Quattrocento Sans;
  letter-spacing: 0.8px;
}

h3.token {
  position: absolute;
  right: -168px;
  top: 238px;
  color: #f0a500;
  background: transparent;
  font: normal normal bold 16px/20px Quattrocento Sans;
  letter-spacing: 0.8px;
}

.row.column {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.online-featured {
  top: -18px;
  left: 8px;
  font: normal normal normal 12px/80px Quattrocento Sans;
}

/* .pvt-btn {
  margin-top: -156px;
} */

.column img {
  transition: transform 0.2s ease;
}

.column img:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}
.show-more {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.show-btn {
  width: 140px;
  height: 40px;
  background-color: transparent;
  color: #f0a500;
  border: 1px solid #f0a500;
  opacity: 1;
  text-transform: uppercase;
  font: normal normal bold 12px/13px Quattrocento Sans;
  letter-spacing: 2.4px;
}

.show-btn:hover {
  background-color: #e49f24;
  color: black;
}

/* footer style */

.footer {
  text-align: center;
  font: normal normal normal 12px/14px Helvetica Neue;
  letter-spacing: 1.2px;
  color: #707070;
  text-transform: uppercase;
  opacity: 1;
}

section {
  margin: 60px;
}



/*  */


@media screen and (max-width: 900px) and (min-width:600px) {
  .column.side,
  .column.right {
    width: 100%;
  }

  /* .left {
    margin-top: 50px;
  } */

  .portal {
    font: normal normal 600 50px/50px Barlow;
    color: #f0a500;
    text-transform: uppercase;
  }
  .teacher-text {
    font-size: 60px;
  }
  section {
    margin: 10px;
  }
  .banner.right {
    width: 100%;
    float: left;
  }
}
